body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'FZZZHONGHJW';
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'FZZCHJW';
  src: url('../fonts/FZZCHJW.ttf');
}
@font-face {
  font-family: 'FZZZHONGHJW';
  src: url('../fonts/FZZZHONGHJW.ttf');
}
@font-face {
  font-family: 'FZZZHUNHJW';
  src: url('../fonts/FZZZHUNHJW.ttf');
}

.answer .bg {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  background-image: url(../images/qbg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.answer .huan {
  width: 100%;
  height: 5rem;
  animation: run 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.answer .huan img {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.answer .answerBox {
  width: 80%;
  height: 7.65rem;
  background-image: url(../images/qabg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: auto;
  font-family: 'FZZZHONGHJW';
  color: #5e3a22;
  position: relative;
  z-index: 2;
}
.answer .answerBox .br{
	height:10%;
}
.answer .answerBox .answerA {
  padding: 1.2rem 0.9rem 0 0.9rem;
  font-weight: bold;
  font-size: 0.3rem;
  line-height: 0.5rem;
}
.answer .answerBox ul {
  font-size: 0.26rem;
  padding: 0.6rem 1rem 0 1rem;
}
.answer .answerBox li {
  height: 0.7rem;
  line-height: 0.74rem;
  position: relative;
  padding-left: 0.5rem;
}
.answer .answerBox li.active div:after {
  content: '';
  display: block;
  width: 0.15rem;
  height: 0.15rem;
  background-color: #d3674f;
}
.answer .answerBox li div {
  width: 0.30rem;
  height: 0.30rem;
  border-radius: 3px;
  border: 2px solid #7d583c;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotateZ(45deg);
}
.answer .answerBox li div:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.answer .nexBtn {
  width: 3.3rem;
  height: 1.95rem;
  background-image: url(../images/next.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  top: 75%;
  left: 50%;
  z-index: 10;
  margin-left: -1.65rem;
}
.answer .nexBtn.active {
  background-image: url(../images/viewre.png);
}
.answer .qer {
  animation-delay: 0.5s;
}
.answer .hailang img{
	width:100%;
	position:fixed;
    bottom:0px;
    left:0px;
	
}
.answer .hailang .imgg{
	animation: updown1 5s;
 	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
}
.answer .hailang .imggg{
	animation: updown2 5s;
 	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
}

@keyframes run {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes updown1 {
    0%   {transform: translateY(0)}
	25%  {transform: translateY(5px)}
	50%  {transform: translateY(-10px)}
	75%  {transform: translateY(5px)}
	100% {transform: translateY(0)}
}
@keyframes updown2 {
    0%   {transform: translateY(0)}
	25%  {transform: translateY(-5px)}
	50%  {transform: translateY(15px)}
	75%  {transform: translateY(-5px)}
	100% {transform: translateY(0)}
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;
}